.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-icons {
  display: flex;
  position: absolute;
  right: 0;
  top: -367px;
}
.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 227;
}
.contact-icons a {
  color: white;
  /* margin-right: 20px; */
  transition: all 250ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
  border-radius: 13px;
}
.contact-icons a:not(:last-child) {
  margin-right: 20px;
}
.contact-icons a svg {
  font-size: 25px;
}
.contact-icons .viber-icon svg {
  font-size: 22px;
}
.contact-icons .phone-icon svg {
  font-size: 20px;
}
.contact-icons a:hover {
  transform: translateY(-10px);
}

.service-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 55px;
  margin-top: 60px;
}
.service-heading {
  text-align: left;
  font-family: "Nexa Bold";
  margin-bottom: 20px;
}
.servie-box {
  background: pink;
  padding: 12px 0;
  width: 250px;
  text-align: left;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #d513a0, #7a56bd, #005b8d);
}

.servie-box-item {
  color: white;
  padding: 3px 0;
  font-size: 18px;
  width: 80%;
  font-family: "Nexa Regular";
}
.servie-box-item:not(:last-child) {
  border-bottom: 1px solid white;
}
